mixin tour-highlight(picture, content, rating, count)
  .tour-highlight
    img.picture-tour(src=picture)
    .content-tour= content
    .reviews
      img.star(src="./image/star.png")
      .reviews-count= rating.toFixed(1) + " (" + count + " reviews)"

mixin add-destinations(picture, content, rating, count)
  .block-destinations
    img.picture-destination(src=picture)
    .content-destination= content
      .reviews-destination
        img.star-destination(src="./image/star.png")
        .reviews-count-destination= rating.toFixed(1) + " (" + count + " reviews)"
